/EjerciciosColecciones/EjercicioColeccionesVersion2/nbproject/private/
/EjerciciosColecciones/EjercicioColeccionesVersion2/build/
/EjerciciosColecciones/EjercicioColecciones4/nbproject/private/
/EjerciciosColecciones/EjercicioColecciones4/build/
/EjerciciosColecciones/EjercicioColecciones5/nbproject/private/
/EjerciciosColecciones/EjercicioColecciones5/build/
/EjerciciosColecciones/EjercicioColecciones6/nbproject/private/
/EjerciciosColecciones/EjercicioColecciones6/build/
/EjerciciosColecciones/PracticaColecciones/build/
/EjerciciosExtrasColecciones/EjercicioExtraColecciones1/nbproject/private/
/EjerciciosExtrasColecciones/EjercicioExtraColecciones1/build/
/EjerciciosExtrasColecciones/EjercicioExtraColecciones2/nbproject/private/
/EjerciciosExtrasColecciones/EjercicioExtraColecciones2/build/
/EjerciciosExtrasColecciones/EjercicioExtraColecciones3/nbproject/private/
/EjerciciosExtrasColecciones/EjercicioExtraColecciones3/build/